.textoColumnas{
    background-color: #f8f9fa;
    text-align: justify;
}

a {
    color: black;
}

nav {
    background-color: #6c757d;
}

.nav-link {
    color: #bdc1c4;
}

.nav-item a:active, .navbar-brand {
    color: white;
}
